.App {
  text-align: center;
  font-family: "operator mono", sans-serif;
  margin: 0 auto;
  max-width: 960px;
}

h2 {
  font-size: 2.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #343a40;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
